<h1>Editing qualification level</h1>

<%= render "form", qualification_level: @qualification_level %>

<br>

<div>
  <%= link_to "Show this qualification level", @qualification_level %> |
  <%= link_to "Back to qualification levels", qualification_levels_path %>
</div>
