<h1>Education Level</h1>
<h2>Incumbent MPs and Senators who are running for re-election</h2>
<div class="flex-container row">
  <div class="row">
    <div id="legend">
      <h2>Legend</h2>
        <div class="legend red float-start">Postgraduate</div>
        <div class="legend blue float-start">Bachelor Degree</div>
        <div class="legend green float-start">Diploma</div>
        <div class="legend brown float-start">Up to Year 12 or Equiv</div>
    </div>
  </div>
</div>


<div class="flex-container row">
  <div class="col-md">
    <div id="chart">
      <h2>General Population</h2>
      <%= pie_chart(
            @qualification_level_data.genpop.count,
            colors: @qualification_level_data.genpop.colors,
            legend: false
          ) %>
    </div>
  </div>
  <div class="alp col-md">
    <h2>ALP</h2>
      <%= pie_chart(
        @qualification_level_data.alp.count,
        colors: @qualification_level_data.alp.colors,
        legend: false
      ) %>
  </div>
  <div class="coalition col-md">
    <h2>Coalition</h2>
      <%= pie_chart(
        @qualification_level_data.coalition.count,
        colors: @qualification_level_data.coalition.colors,
        legend: false
      ) %>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
$(document).ready(function() {
    $('#qualification-level-candidate-table').DataTable({
      paging: false,
      searching: false
    });
} );
</script>


