<section class="">
  <!-- Footer -->
  <footer class="text-center text-md-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Who the bloody hell are they</h5>
          <p>On May 21, we will elect approximately 100 people from either the Labor Party or the Coalition to govern the country. But beyond the “brand” of Liberal/National & Labor Parties, what do we know about the 377 candidates they have nominated? Not as much as you might think.</p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact Us</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="mailto:info@whothebloodyhellarethey.com">info@whothebloodyhellarethey.com</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Links</h5>
          <ul class="list-unstyled">
            <li>
              <a href="/about" class="text-white">About</a>
            </li>
            <li>
              <a href="/disclaimer" class="text-white">Disclaimer</a>
            </li>
            <li>
              <a href="/privacy" class="text-white">Privacy Statement</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  </footer>
</section>