<section class="">
  <!-- Footer -->
  <footer class="text-center text-md-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Who the bloody hell are they</h5>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem ipsam nihil amet. Odio eveniet id cum?
            Molestias maiores repudiandae labore atque reiciendis laboriosam, blanditiis, eos eaque commodi at
            distinctio ipsam.</p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact Us</h5>
          <ul class="list-unstyled mb-0">
            <li>
              02 1234 234
            </li>
            <li>
              jane.doe@company.com
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Links</h5>
          <ul class="list-unstyled">
            <li>
              <a href="/about" class="text-white">About</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  </footer>
</section>