<h2>FAQs</h2>
<h3>
Why have you not included the Greens, UAP, One Nation, Independents etc?
</h3>
<p>
Two reasons, first we only came up with the idea a few days before the election was called and we didn’t have the time and resources. We think more importantly, the country will be governed by one of the two main parties, and we felt that is where we should shine our light.
</p>
<h3>
Who the bloody hell are you?
</h3>
<p>
Fair question. The short answer is just a bunch of randos who quite like politics and couldn’t answer some basic questions about our democracy. Specifically, a couple of web developers, an engineer, a project manager and a recruiter.
</p>
<h3>
Are you aligned with any party or other organisation?
</h3>
<p>
No. Nope. We’re independent.
</p>
<h3>
Who is funding you?
</h3>
<p>
  We’re self funded and have spent:
</p>
<ul>
  <li>$200 on a logo (isn’t it great?)</li>
  <li>$60 on the domain name and email account</li>
  <li>$25 for a* bottle of rose to drink during a meeting</li>
</ul>
<h3>
You have some facts wrong!
</h3>
<p>
  We’re super happy to review our data.  If you think we’ve made an error shoot us the data via this <a href="https://docs.google.com/forms/d/1pL6t5vz5sDTzki3J8eiEVYMxznFzPgPbnz70M4fxvpo/edit?usp=sharing">form</a> with some evidence and we will review and provide an outcome.
</p>
<h3>
How do I contribute a piece of data?
</h3>
<p>
  Ahhh thanks…. That’s the spirit. Fill out the form <a href="https://docs.google.com/forms/d/1pL6t5vz5sDTzki3J8eiEVYMxznFzPgPbnz70M4fxvpo/edit?usp=sharing">here</a>
</p>
<h3>
Can we look at other categories of information?
</h3><p>
We’re a bit limited for time and resource for Election 2022.  Maybe for the next one…
</p>
<h3>
How can I get involved?
</h3>
<p>
We’d love to hear from you!  Get in touch via <a href="mailto:info@whothebloodyhellarethey.com">info@whothebloodyhellarethey.com</a>.
</p>
<h3>
How do you gather the data?
</h3>
<p>
  We have relied on volunteers to scour the internet to find as much info as possible and would love to hear from you if you have anything to add or any correction. Send us your input via this <a href="https://docs.google.com/forms/d/1pL6t5vz5sDTzki3J8eiEVYMxznFzPgPbnz70M4fxvpo/edit?usp=sharing">form.</a>
</p>
<h3>
How did you decide whether the seat is winnable by a particular candidate?
</h3>
<p>
  This is purely data based (though of course we have our own opinions too). We used the % swing required for the seat to change hands based on the results from the last election.
  <table class="faq-table table">
    <thead><th></th><th scope="col">Incumbent margin >=6%</th><th scope="col">Incumbent margin 0 to 6%</th></thead>
    <tr><th scope="row">Incumbent</th><td>Safe</td><td>Swing</td></tr>
    <tr><th scope="row">Challenger</th><td>Challenger</td><td>Swing</td></tr>
  </table>
</p>
<h3>How did you come up with the General Population Data?</h3>
<p>We’ve used data from the Australian Bureau of Statistics information for the majority of this data.  Feel free to get in touch if you’d like more <a href="mailto:info@whothebloodyhellarethey.com">info</a></p>
<h3>How did you come up with the Prior Career information?</h3>
<p>There’s limited info available for new candidates so we concentrated on current MPs and Senators.  We used the data available on <a href="https://www.aph.gov.au/Senators_and_Members">https://www.aph.gov.au/Senators_and_Members</a>.</p>
<h3>
What are the factions and what do they care about?
</h3>
<p>
Let's rely on the experts for this one.  The Sydney Morning Herald wrote some great articles on this.  Check out:
<ul>
  <li><a href="https://www.smh.com.au/politics/federal/what-are-labor-s-factions-and-who-s-who-in-the-left-and-right-20210210-p5718j.html">Labour Factions</a></li>
  <li><a href="https://www.smh.com.au/politics/federal/who-s-who-in-the-liberals-left-right-and-centre-factions-20210303-p577gv.html">Liberal Factions</a></li>
</ul>
</p>
