<div id="<%= dom_id union %>">
  <h2><%= union.name %></h2>

  <div id="candidates">
    <table id="union-candidate-table" class="table table-striped">
      <thead>
        <tr>
          <th>Candidate</th>
          <th>Electorate</th>
        </tr>
      </thead>
      <% @union.candidates.each do |candidate| %>
        <tr>
          <td><%= safe_link_to(candidate) %></td>
          <td><%= safe_link_to(candidate.electorate) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
