<div id="<%= dom_id electorate %>">
  <h1>Candidates for <%= electorate.name.capitalize %></h1>
  <div id="candidates">
    <table id="electorate-candidate-table" class="table table-striped">
      <thead>
        <tr>
          <th>Candidate</th>
        </tr>
      </thead>
      <% electorate.candidates.each do |candidate| %>
        <tr>
          <td><%= safe_link_to(candidate) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
$(document).ready(function() {
    $('#electorate-candidate-table').DataTable({
      paging: false,
      searching: false
    });
} );
</script>