<h3>Where the bloody hell is the information?</h3>
<p>You need a resume to get a job in a call centre, but you can run for parliament with a few vague statements about your career.</p>
<ul><li><strong>There is little data available on which factions control candidates or on candidate’s union membership and affiliation</strong></li>
  <li><strong>There is little data on the religious beliefs of candidates</strong></li>
</ul>
<p>
A new website www.whothebloodyhellarethey.com has highlighted the lack of data about the candidates who will potentially govern the country for the next 3 years.
</p>
<p>
Whilst we proudly live in a democracy where we are free to choose our religion and free to associate with those we choose, we should also be able to ensure those running for Parliament provide enough information to allow us to answer the question Who the bloody hell are they?
</p>
<p>
The “Who The Bloody Hell are They?” Project commenced a week before the election was announced. We wanted to gain a clear picture of the demographics, beliefs and associations of the candidates running for the major parties at the next election. We wanted to be able describe the characteristics of the 100 or so people who would govern our country for the next 3 years.
</p>
<p>
We gathered a team of 10 volunteer researchers to source data on each candidate highlighting their, career experience, qualifications, union membership, religious beliefs, faction, gender and age.
</p>
<p>
For non-incumbent candidates it became clear very quickly that no such data existed.
</p>
<p>
We would never encourage any individual to vote based on a candidate’s religious beliefs, however we wanted to understand how the beliefs of the Labor Party and Coalition candidates compared with the broader Australian Population.
</p>
<p>
Similarly, we wanted to gather data on factions. Obviously, if one faction wins more seats at this election then that party will govern very differently compared to another faction. Voters should know which faction a candidate is aligned with; surely it should be a key consideration when casting your vote?
</p>
<p>
Additionally, we wanted to be able to provide clear information about each candidate’s union affiliation. Are they beholden to a union, and if so which one? ?  How would that affect the decisions they take in parliament?
</p>
<p>
Even trying to find a resume for each candidate, showing their career history and qualifications was difficult. This information is freely available for elected representatives but for challenger candidates, there are often just some wishy-washy statements about experience. You need more information to get a job in a call-centre than you do to secure a seat in our federal parliament.
</p>
<p>
  <strong>Surely, Australians deserve better information at the next election!!!</strong>
</p>
