<h3>Average Tenure if Parliament</h3>
<p>Unsurprisingly, this pattern of nominating almost exclusively men in safe seats results in male MPs having much longer tenure in parliament than women.
</p>
<p>
Looking at incumbent MPs returning to the House of Representatives, we see that coalition MPs have a median tenure of 9 years vs female MP who have a median tenure of 3 years. It’s a similar story for Labour with median male tenure at 12 years vs females at 6 years.
</p>
<p>
It’s unsurprising we have so few female leaders in our major parties when their tenure is so much lower.
</p>
