<h3>Where the bloody hell is the information?</h3>
<p>You need a resume to get a job in a call centre, but you can run for parliament with a few vague statements about your career.</p>
<ul><li><strong>There is little data available on which factions control candidates or on candidate’s union membership and affiliation</strong></li>
  <li><strong>There is little data on the religious beliefs of candidates</strong></li>
</ul>