<h1>Home</h1>

<h2>under construction... 😂</h2>
<ul>View data by...
  <li>Candidates</li>
  <li>Parties</li>
  <li>Religion</li>
  <li>Education Qualification</li>
  <li>Prior Working History</li>
  <li>National Background</li>
</ul>