<div class="container">
  <div class="row">
    <div class="col-lg col-frontpage">
      <%= render "column_gender" %>
      <p class="read-more">
      <a class="btn btn-primary" href="/genders">Read More</a>
      </p>
    </div>
    <div class="col-lg col-frontpage">
      <%= render "column_information" %>
      <p class="read-more">
        <a class="btn btn-primary" href="/information">Read More</a>
      </p>
    </div>
    <div class="col-lg col-frontpage">
      <%= render "column_experience" %>
      <p class="read-more">
        <a class="btn btn-primary" href="/professions">Read More</a>
      </p>
    </div>
  </div>
</div>

<div class="container search-container">
  <div id="search">
    <%= render "search_form" %>

  </div>
</div>
