<% @results.each do |result| %>
  <% record = result.searchable_type.constantize.find(result.searchable_id) %>

  <table>
    <tr>
      <tr><%= link_to record.name, record %></tr>
    </tr>
  </table>
<% end %>