<p style="color: green"><%= notice %></p>

<h1>Factions</h1>

<div id="factions">
  <% @factions.each do |faction| %>
    <%= render faction %>
    <p>
      <%= link_to "Show this faction", faction %>
    </p>
  <% end %>
</div>

<%= link_to "New faction", new_faction_path %>
