<a id='data'></a>
<div id="candidates" class="data-block">
  <h2 class="data-heading">Candidates</h2>
  <table id="candidate-candidate-table" class="table table-striped responsive-table">
    <thead>
    <tr>
      <th>Candidate</th>
      <th>Electorate</th>
      <th>Party</th>
      <th class="d-none d-lg-table-cell">Profession</th>
    </tr>
    </thead>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= safe_link_to(candidate) %></td>
        <td><%= safe_link_to(candidate.electorate) %></td>
        <td><%= safe_link_to(candidate.party) %></td>
        <td class="d-none d-lg-table-cell"><%= safe_link_to(candidate.profession) %></td>
      </tr>
    <% end %>
  </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#candidate-candidate-table').DataTable({
            paging: false,
            searching: false
        });
    });
</script>