<h2>Where the bloody hell is the diversity of experience?</h2>
<p>You might expect that the members of the next government would draw on a wide array of experience to run this country. Well you’d be wrong…. 45% of incumbent MPs and Senators spent the of their predominant portion of pre-parliamentary careers as lawyers, union officials or political operatives. And it’s 63% for Labor candidates.</p>
<ul><li><strong>63% of incumbent Labor candidates spent predominant portion of pre-parliamentary careers either as lawyers, union officials or political operatives.</strong></li>
  <li><strong>For the Coalition this figure is 29%</strong></li>
  <li><strong>There is no reliable data for non-incumbent candidates</strong></li>
</ul>
<p>A new website www.whothebloodyhellarethey.com  has highlighted the shortcomings of both major parties in diversity of experience at the upcoming federal election.</p>
<p>A parliament that has a wide range of experiences will have greater insights into the challenges faced by ordinary Australians. Surely this is vital when making new laws.</p>
<p>A <i>Whothebloodyhellarethey</i> spokesperson noted ‘Where the bloody hell is the diversity of experience. Whilst both major parties are guilty of providing a group of candidates whose experience fails to reflect the careers and experiences of the Australian population, this is especially an issue for the Labor party.”</p>

