<h2>Disclaimer</h2>
<p>
  Whothebloodyhellarethey.com makes no warranties in relation to the completeness, accuracy, reliability, timeliness or otherwise and materials in this site. Such information could include false or irrelevant information, technical inaccuracies, and/or typographical errors the accuracy of this information cannot be independently verified by Whothebloodyhellarethey.com.  Whothebloodyhellarethey.com is not responsible for any error or omission on this site and reserves the right to make changes without notice.
</p>
<p>
  Links in this site, which link to other sites on the World Wide Web, are not under the control of Whothebloodyhellarethey.com and it is not responsible for the contents of any linked site or any link contained in a linked site, or any changes or updates to such sites.  Material in links to this site may contain offensive or illegal or defamatory material.
</p>
<p>
  Whothebloodyhellarethey.com expressly disclaims all warranties of any kind, whether express or implied, including, but not limited to the implied warranties of merchantability, fitness for a particular purpose and non-infringement of any intellectual property right contained in this site.  Whothebloodyhellarethey.com makes no warranty that the information in this site will meet your requirements.
</p>
<p>
  Whothebloodyhellarethey.com shall not be liable for any direct, indirect, incidental, special or consequential damages, resulting from the use or the inability to use this site or any negligent act or omission committed by Whothebloodyhellarethey.com in the creation of this site.
</p>
<p>
  Where Whothebloodyhellarethey.com may be liable for a breach of any condition or warranty implied by law or otherwise, and which cannot be excluded, such liability is limited to the fullest extent permitted by law.
</p>
