<h2>About</h2>
<p>
  There is an election approaching. Australia will be voting to select that approximate 100 people who will run our country for the next 3 years; but how much do we really know about this group beyond the “brand” of Liberal/National and Labour? A parliament comprised of individuals with a wide range of experiences will have greater insights into the challenges faced by ordinary Australians. We wanted to know how representative our democracy is, and we want the voters to know.In other words, Who the bloody hell are they?
</p>
<p>
  We wanted to answer the following questions: What faction do candidates belong to? What unions are the candidates affiliated with? What is the religious mix of candidates? What is their education level and their field of study? What was their career prior to entering politics?
</p>
<p>
  And were we able to easily answer these questions? The answer is currently a resounding NO. We have gathered data on all the incumbents from the main parties and what we can on the challenger candidates (though there is very little data available on them). We have a complete data set on gender, and complete data sets on education and prior career for incumbents. We have struggled to find meaningful data on unions, factions and ethnicity. Though what we have found is eye opening.
</p>
<p>
  Who the bloody Hell are they is comprised of a bunch of randos who quite like politics and couldn’t answer some basic questions about our democracy. Specifically, a couple of web developers, an engineer, a project manager and a recruiter.
</p>
<strong>So, Who the Bloody Hell are They?</strong>
</p>