/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "_variables";
@import 'bootstrap';
@import 'font-awesome';

.flex-container {
  display: flex;
}

.region {
  padding: 1rem 0;
}

a.navbar-brand {
  font-family: $heading-font;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.bg-dark {
  background-color: $bg-dark-background;
  color: $bg-dark-text;
  a {
    color: inherit;
  }
}

.row {
  margin-bottom: 2.5rem;
}

.col-lg-* {
  margin-bottom: 0.5rem;
}

.input-search {
  border: 1px solid $bg-dark-background;
}

.form-outline {
  position: relative;
  input.input-search-button {
    line-height: 1.5;
    padding: 0.33rem 0.75rem;
    position: absolute;
    right: 0;
    top: 0;
  }
}

#search {
  max-width: 440px;
  margin: auto;
  padding: 0 12px;
  .form-outline {
    width: 100%;
  }
}

.container-search {
  margin-bottom: 2rem;
}

.data-heading {
  margin: 1rem 0;
}

h2.group-header {
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 1px solid;
  padding-bottom: 5px;
  width: fit-content;
}

.category-row {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid lightgrey;
  > div {
      margin: 0.5rem 0;
  }

}

.legend {
  margin-right: 20px;
  &:before {
    content: '';
    display: inline-block;
    width: 2.5rem;
    height: 0.75rem;
    margin-right: 5px;
  }
  &.blue:before {
    background-color: blue;
  }
  &.pink:before {
    background-color: pink;
  }
  &.red:before {
    background-color: red;
  }
  &.green:before {
    background-color: green;
  }
  &.purple:before {
    background-color: purple;
  }
  &.yellow:before {
    background-color: yellow;
  }
  &.indigo:before {
    background-color: indigo;
  }
  &.cyan:before {
    background-color: cyan;
  }
  &.teal:before {
    background-color: teal;
  }
  &.orange:before {
    background-color: orange;
  }
  &.gray:before {
    background-color: gray;
  }
  &.lime:before {
    background-color: lime;
  }
  &.maroon:before {
    background-color: maroon;
  }
  &.aqua:before {
    background-color: aqua;
  }
  &.cadetblue:before {
    background-color: cadetblue;
  }
  &.coral:before {
    background-color: coral;
  }
  &.darkmagenta:before {
    background-color: darkmagenta;
  }
}

//.legend.blue {
//    background-color: blue;
//    color: white;
//}
//
//.legend.pink {
//    background-color: pink;
//    color: black;
//}