<h3>Where the bloody hell are the females?</h3>
<p>
  Male candidates dominate nominations for safe seats for the major parties in the House of Representatives – 84% of Coalition candidates and 67% of Labor candidates in safe seats are male.
</p>
<ul>
  <li><strong>The Coalition has 34% female candidates but only 16% in safe seats (>6% margin)</strong></li>

  <li><strong>
    Overall Labor is closer to gender equity but has nominated only 35% females in safe seats</strong></li>
  <li><strong>
    Where there is heavy lifting to be done (in swing seats with <6% margin), both parties have nominated a higher proportion of females (Labor 58%, Coalition 49%)
  </strong></li>
</ul>
<p>
  A new website www.whothebloodyhellarethey.com  has highlighted the shortcomings of both major parties in female representation at the upcoming federal election.
</p>
<p>
  Looking at both upper and lower house candidates for all seats, the split of candidates running for the major parties is 60% male vs 40% female.
</p>
<p>
  However, whilst Labor can have some claims to approaching equality with a 54% male / 46% female split, the coalition’s 66% male / 34% female ratio is more appropriate for the dark ages than a modern-day representative party.
</p>
<p>
  More interestingly, when we examine gender breakdown across Safe (>6% margin), Swing (0-6% margin) and Unlikely (>6%) seats, we see that both parties heavily favour men in safe seats whilst leaving female candidates to do the heavy lifting in swing seats.
</p>
<h4>Average Tenure in Parliament</h4>
<p>Unsurprisingly, this pattern of nominating almost exclusively men in safe seats results in male MPs having much longer tenure in parliament than women.
</p>
<p>
  Looking at incumbent MPs returning to the House of Representatives, we see that coalition MPs have a median tenure of 9 years vs female MP who have a median tenure of 3 years. It’s a similar story for Labor with median male tenure at 12 years vs females at 6 years.
</p>
<p>
  It’s unsurprising we have so few female leaders in our major parties when their tenure is so much lower.
</p>
