<div class="navbar navbar-expand-lg bg-dark">
  <div class="container-lg p-0 flex-nowrap align-items-stretch">
    <div class="col-7 col-md-8 p-0 m-0">
      <div class="region region-nav-branding">
        <div class="navbar-brand d-flex align-items-center">
          <a href="/" title="Who the bloody hell are they" rel="home" class="site-logo d-block p-3">
            <img src="http://placekitten.com/250/60" alt="WTBHAT Logo – Home">
          </a>
          <div>
            <a href="/" title="Home" rel="home" class="site-title">
              Who the bloody hell are they.
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>