<h1>Editing field of study</h1>

<%= render "form", field_of_study: @field_of_study %>

<br>

<div>
  <%= link_to "Show this field of study", @field_of_study %> |
  <%= link_to "Back to field of studies", field_of_studies_path %>
</div>
